/* Zerar as margens de todos os elementos 
da página. Margens externas e internas */
* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

/* Vamos adicionar uma imagem ao fundo do header */
header {
    background-image: url("../img/coffeeshop.jpg");
    /* Ajustar o tamanho da imagem em 100% de largura */
    background-size: 100%;
    /* Ajustar a posição da imagem em x e y */
    background-position: 0px -350px;

    height: 500px;
    padding: 20px;
    
}
h1{
    /* Mudar a cor da letra */
    color: whitesmoke;
    
    
}